[submodule "course_meta/profile/field/moodle-profilefield_multiselect"]
	path = course_meta/profile/field/moodle-profilefield_multiselect
	url = https://github.com/frumbert/moodle-profilefield_multiselect.git
